<tui-loader
  [showLoader]="false"
  [overlay]="true"
  size="xl"
>
  <div>
    <form [formGroup]="formGroup">
      <tui-input
        tuiTextfieldSize="m"
        class="tui-space_top-3 tui-space_bottom-5"
        formControlName="name"
      >
        Название
      </tui-input>
      <tui-input
        tuiTextfieldSize="m"
        class="tui-space_top-3 tui-space_bottom-5"
        formControlName="origin"
      >
        Страна
      </tui-input>
      <tui-input
        tuiTextfieldSize="m"
        class="tui-space_top-3 tui-space_bottom-5"
        formControlName="description"
      >
        Описание
      </tui-input>
      <button
        tuiButton
        type="button"
        size="m"
        [disabled]="formGroup.invalid"
      >
        {{ brandData?.id ? 'Сохранить' : 'Добавить' }}
      </button>
    </form>
  </div>
</tui-loader>
