<div class="property">
  <div class="header">
    <div class="header__title">
      <tui-breadcrumbs  size="l">
        <ng-container *ngFor="let item of breadcrumbs">
          <a
            *tuiItem
            tuiLink
            [routerLink]="item.routerLink"
          >
            {{ item.caption }}
          </a>
        </ng-container>
      </tui-breadcrumbs>
    </div>
    <div class="header__actions">
      <button
        size="s"
        tuiIconButton
        type="button"
        appearance="secondary"
        icon="tuiIconRefresh"
        class="tui-space_right-3"
      >
      </button>
    </div>
  </div>
  <form [formGroup]="formGroup">
    <div class="content">
        <h3 class="tui-form__header tui-form__header_margin-top_none">Общее</h3>
        <div class="tui-form__row tui-form__row_multi-fields">
          <div class="tui-form__multi-field">
            <tui-input
              formControlName="name"
            >
              Название
            </tui-input>
          </div>
          <div class="tui-form__multi-field">
            <tui-input
              formControlName="description"
            >
              Описание
            </tui-input>
          </div>
        </div>
        <div class="tui-form__row">
          <tui-text-area
            formControlName="description"
            [expandable]="true"
          >
            Описание
          </tui-text-area>
        </div>
    </div>
    <div class="content">
        <h3 class="tui-form__header tui-form__header_margin-top_none">Значения</h3>
    </div>
  </form>
</div>
