<div class="orders">
  <div class="header">
    <div class="header__title">
      <tui-breadcrumbs  size="l">
        <ng-container *ngFor="let item of breadcrumbs">
          <a
            *tuiItem
            tuiLink
            [routerLink]="item.routerLink"
          >
            {{ item.caption }}
          </a>
        </ng-container>
      </tui-breadcrumbs>
    </div>
    <div class="header__actions">
      <button
        size="s"
        tuiButton
        type="button"
        appearance="secondary"
        icon="tuiIconUpload"
      >
        Экспорт
      </button>
    </div>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>

</div>
