<div class="brands">
  <div class="header">
    <div class="header__title">
      <tui-breadcrumbs  size="l">
        <ng-container *ngFor="let item of breadcrumbs">
          <a
            *tuiItem
            tuiLink
            [routerLink]="item.routerLink"
          >
            {{ item.caption }}
          </a>
        </ng-container>
      </tui-breadcrumbs>
    </div>
    <div class="header__actions">
      <button
        size="s"
        tuiIconButton
        type="button"
        appearance="secondary"
        icon="tuiIconPlus"
        class="tui-space_right-3"
        (click)="showAddDialog()"
      >
      </button>
      <button
        size="s"
        tuiIconButton
        type="button"
        appearance="secondary"
        icon="tuiIconRefresh"
        class="tui-space_right-3"
        (click)="refreshData()"
      >
      </button>
    </div>
  </div>
  <div class="content">
    <table
      tuiTable
      class="table"
      [columns]="columns"
    >
      <thead>
      <tr tuiThGroup>
        <th
          tuiTh
          *tuiHead="'name'"
        >
          Название
        </th>
        <th
          tuiTh
          *tuiHead="'origin'"
        >
          Страна
        </th>
        <th
          tuiTh
          *tuiHead="'description'"
          [sorter]="null"
        >
          Описание
        </th>
      </tr>
      </thead>
      <tbody
        *tuiLet="(brandsData || []) | tuiTableSort as sortedData"
        tuiTbody
        [data]="sortedData"
      >
      <tr
        *ngFor="let item of sortedData"
        #dropdown="tuiDropdown"
        tuiDropdownContext
        [tuiDropdown]="contextMenu"
        tuiTr
      >
        <ng-template
          #contextMenu
        >
          <tui-data-list
            role="menu"
            tuiDataListDropdownManager
            class="context-menu"
            (click)="showEditDialog(item); dropdown.toggle(false)"
          >
            <button
              tuiOption
            >
              Изменить
              <tui-svg
                class="icon"
                src="tuiIconDraft"
              ></tui-svg>
            </button>
            <button
              tuiOption
              class="context-delete"
              (click)="showDeleteDialog(item.id, item.name); dropdown.toggle(false)"
            >
              Удалить
              <tui-svg
                class="icon"
                src="tuiIconTrash"
              ></tui-svg>
            </button>
          </tui-data-list>
        </ng-template>
        <td
          *tuiCell="'name'"
          tuiTd
        >
          <span>{{ item.name }}</span>
        </td>
        <td
          *tuiCell="'origin'"
          tuiTd
        >
          <span>{{ item.origin }}</span>
        </td>
        <td
          *tuiCell="'description'"
          tuiHintAppearance="onDark"
          [tuiHint]="item.description"
          class="cell-overflow"
          tuiTd
        >
          <span>{{ item.description }}</span>
        </td>
      </tr>
      <ng-container *ngIf="brandsData | apiLoadingState">
        <tr
          *ngFor="let item of [1, 2, 3]"
          tuiTr
        >
          <td
            *tuiCell="'name'"
            tuiTd
          >
            <span class="tui-skeleton">****************</span>
          </td>
          <td
            *tuiCell="'origin'"
            tuiTd
          >
            <span class="tui-skeleton">**********</span>
          </td>
          <td
            *tuiCell="'description'"
            tuiTd
          >
            <span class="tui-skeleton">****************************************</span>
          </td>
        </tr>
      </ng-container>
      <ng-container *ngIf="brandsData | apiLoadingState : 'Empty'">
        <tr class="table-empty">
          <tui-svg
            src="tuiIconInfo"
          ></tui-svg>
          <span>Список пуст</span>
        </tr>
      </ng-container>

      </tbody>
    </table>
    <tui-table-pagination
      [total]="brandsData?.length || 0"
      [(page)]="page"
      [(size)]="size"
    ></tui-table-pagination>
  </div>
</div>
