<div class="products">
  <div class="header">
    <div class="header__title">
      <tui-breadcrumbs size="l">
        <ng-container *ngFor="let item of breadcrumbs">
          <a
            *tuiItem
            tuiLink
            [routerLink]="item.routerLink"
          >
            {{ item.caption }}
          </a>
        </ng-container>
      </tui-breadcrumbs>
    </div>
    <div class="header__actions">
      <button
        size="s"
        tuiIconButton
        type="button"
        appearance="secondary"
        icon="tuiIconPlus"
        class="tui-space_right-3"
        routerLink="/products/new"
      >
      </button>
      <button
        size="s"
        tuiIconButton
        type="button"
        appearance="secondary"
        icon="tuiIconRefresh"
        class="tui-space_right-3"
        (click)="refreshData()"
      >
      </button>
    </div>
  </div>
  <div class="content">
    <table
      tuiTable
      class="table"
      [columns]="columns"
    >
      <thead>
      <tr tuiThGroup>
        <th
          tuiTh
          *tuiHead="'media'"
          [sorter]="null"
        >
        </th>
        <th
          tuiTh
          *tuiHead="'name'"
        >
          Название
        </th>
        <th
          tuiTh
          *tuiHead="'price'"
        >
          Цена
        </th>
        <th
          tuiTh
          *tuiHead="'brand'"
        >
          Бренд
        </th>
      </tr>
      </thead>
      <tbody
        *tuiLet="(productsData || []) | tuiTableSort as sortedData"
        tuiTbody
        [data]="sortedData"
      >
      <tr
        *ngFor="let item of sortedData"
        tuiTr
        [routerLink]="'/products/details/' + item.id"
      >
        <td
          *tuiCell="'media'"
          tuiTd
        >
          <img class="product-item-img" [src]="item.media[0]" [alt]="item.name">
        </td>
        <td
          *tuiCell="'name'"
          tuiTd
        >
          {{ item.name }}
        </td>
        <td
          *tuiCell="'price'"
          tuiTd
        >
          {{ item.price | tuiFormatNumber: {decimalLimit: 2, decimalSeparator: '.'} }} {{ 'RUB' | tuiCurrency }}
        </td>
        <td
          *tuiCell="'brand'"
          tuiTd
        >
          {{ item.brand.name }}
        </td>
      </tr>
      <ng-container *ngIf="productsData | apiLoadingState">
        <tr
          *ngFor="let item of [1, 2, 3]"
          tuiTr
        >
          <ng-container *ngFor="let column of columns">
            <td
              *tuiCell="column"
              tuiTd
            >
              <span class="tui-skeleton"></span>
            </td>
          </ng-container>
        </tr>
      </ng-container>
      <ng-container *ngIf="productsData | apiLoadingState : 'Empty'">
        <tr class="table-empty">
          <tui-svg
            src="tuiIconInfo"
          ></tui-svg>
          <span>Список пуст</span>
        </tr>
      </ng-container>
      </tbody>
    </table>
    <tui-table-pagination
      *ngIf="productsData | apiLoadingState : 'Success'"
      [total]="productsData?.length || 0"
      [(page)]="page"
      [(size)]="size"
    ></tui-table-pagination>
  </div>
</div>
