<div class="news">
  <div class="header">
    <div class="header__title">
      <tui-breadcrumbs size="l">
        <ng-container *ngFor="let item of breadcrumbs">
          <a
            *tuiItem
            tuiLink
            [routerLink]="item.routerLink"
          >
            {{ item.caption }}
          </a>
        </ng-container>
      </tui-breadcrumbs>
    </div>
    <div class="header__actions">
      <button
        size="s"
        tuiIconButton
        type="button"
        appearance="secondary"
        icon="tuiIconPlus"
        class="tui-space_right-3"
        routerLink="/news/new"
      >
      </button>
      <button
        size="s"
        tuiIconButton
        type="button"
        appearance="secondary"
        icon="tuiIconRefresh"
        class="tui-space_right-3"
        (click)="refreshData()"
      >
      </button>
    </div>
  </div>
  <div class="content">
    <table
      tuiTable
      class="table"
      [columns]="columns"
    >
      <thead>
      <tr tuiThGroup>
        <th
          tuiTh
          *tuiHead="'title'"
        >
          Заголовок
        </th>
        <th
          tuiTh
          *tuiHead="'date'"
        >
          Дата
        </th>
        <th
          tuiTh
          *tuiHead="'tags'"
        >
          Теги
        </th>
      </tr>
      </thead>
      <tbody
        *tuiLet="(articlesData || []) | tuiTableSort as sortedData"
        tuiTbody
        [data]="sortedData"
      >
      <tr
        *ngFor="let item of sortedData"
        tuiTr
        [routerLink]="'/news/details/' + item._id"
      >
        <td
          *tuiCell="'title'"
          tuiTd
        >
          {{ item.title }}
        </td>
        <td
          *tuiCell="'date'"
          tuiTd
        >
          {{ item.createdAt | date }}
        </td>
        <td
          *tuiCell="'tags'"
          tuiTd
        >
          {{ (item.tags || []).join(', ') }}
        </td>
      </tr>
      <ng-container *ngIf="articlesData | apiLoadingState">
        <tr
          *ngFor="let item of [1, 2, 3]"
          tuiTr
        >
          <ng-container *ngFor="let column of columns">
            <td
              *tuiCell="column"
              tuiTd
            >
              <span class="tui-skeleton"></span>
            </td>
          </ng-container>
        </tr>
      </ng-container>
      <ng-container *ngIf="articlesData | apiLoadingState : 'Empty'">
        <tr class="table-empty">
          <tui-svg
            src="tuiIconInfo"
          ></tui-svg>
          <span>Список пуст</span>
        </tr>
      </ng-container>
      </tbody>
    </table>
    <tui-table-pagination
      *ngIf="articlesData | apiLoadingState : 'Success'"
      [total]="articlesData?.length || 0"
      [(page)]="page"
      [(size)]="size"
    ></tui-table-pagination>
  </div>
</div>
