<div class="payment">
  <div class="header">
    <div class="header__title">
      <tui-breadcrumbs  size="l">
        <ng-container *ngFor="let item of breadcrumbs">
          <a
            *tuiItem
            tuiLink
            [routerLink]="item.routerLink"
          >
            {{ item.caption }}
          </a>
        </ng-container>
      </tui-breadcrumbs>
    </div>
    <div class="header__actions">
      <button
        size="s"
        tuiIconButton
        type="button"
        appearance="secondary"
        icon="tuiIconPlus"
        class="tui-space_right-3"
        (click)="showAddDialog()"
      >
      </button>
      <button
        size="s"
        tuiIconButton
        type="button"
        appearance="secondary"
        icon="tuiIconRefresh"
        class="tui-space_right-3"
        (click)="refreshData()"
      >
      </button>
    </div>
  </div>
  <ng-container [ngSwitch]="paymentData | apiLoadingStateValue">
    <ng-container *ngSwitchCase="apiLoadingState.Success">
      <div
        class="content tui-space_top-4"
        *ngIf="!(paymentData | apiLoadingState)"
      >
        <a
          *ngFor="let payment of paymentData || []"
          size="l"
          tuiIsland
          [hoverable]="true"
          #dropdown="tuiDropdown"
          tuiDropdownContext
          [tuiDropdown]="contextMenu"
          (click)="showEditDialog(payment); dropdown.toggle(false)"
        >
          <div class="tui-island__content">
            <figure class="tui-island__figure">
              <div class="some-figure">
                <tui-svg src="tuiIconCardsLarge"></tui-svg>
              </div>
            </figure>
            <div>
              <h3 class="tui-island__title">{{  payment.name }}</h3>
              <p class="tui-island__paragraph">{{  payment.description }}</p>
            </div>
          </div>
          <ng-template
            #contextMenu
          >
            <tui-data-list
              role="menu"
              tuiDataListDropdownManager
              class="context-menu"
              (click)="showEditDialog(payment); dropdown.toggle(false)"
            >
              <button
                tuiOption
              >
                Изменить
                <tui-svg
                  class="icon"
                  src="tuiIconDraft"
                ></tui-svg>
              </button>
              <button
                tuiOption
                class="context-delete"
                (click)="showDeleteDialog(payment._id, payment.name); dropdown.toggle(false)"
              >
                Удалить
                <tui-svg
                  class="icon"
                  src="tuiIconTrash"
                ></tui-svg>
              </button>
            </tui-data-list>
          </ng-template>
        </a>
      </div>
    </ng-container>
    <div *ngSwitchCase="apiLoadingState.Empty">
      <app-data-empty></app-data-empty>
    </div>
    <ng-container *ngSwitchCase="apiLoadingState.Pending">
      <tui-loader class="loader" size="xl">

      </tui-loader>
    </ng-container>
  </ng-container>
</div>
