<table
  tuiTable
  class="table"
  [columns]="columns"
>
  <thead>
  <tr tuiThGroup>
    <th
      tuiTh
      *tuiHead="'id'"
      [sorter]="null"
    >
      ID
    </th>
    <th
      tuiTh
      *tuiHead="'startDate'"
    >
      Дата
    </th>
    <th
      tuiTh
      *tuiHead="'customer'"
    >
      Покупатель
    </th>
    <th
      tuiTh
      *tuiHead="'total'"
    >
      Стоимость
    </th>
    <th
      tuiTh
      *tuiHead="'status'"
    >
      Статус
    </th>
  </tr>
  </thead>
  <tbody
    *tuiLet="orders | tuiTableSort as sortedData"
    tuiTbody
    [data]="sortedData"
  >
  <tr
    *ngFor="let item of sortedData"
    tuiTr
  >
    <td
      *tuiCell="'startDate'"
      tuiTd
    >
      {{ item.startDate * 1000  | date }}
    </td>
    <td
      *tuiCell="'total'"
      tuiTd
    >
      {{ item.total | tuiFormatNumber: {decimalLimit: 2, decimalSeparator: '.'} }} {{ 'RUB' | tuiCurrency }}
    </td>
    <td
      *tuiCell="'customer'"
      tuiTd
    >
      <div class="td-name">
        <tui-avatar
          size="xs"
          [text]="item.customer.name"
        ></tui-avatar>
        {{ item.customer.name }}
      </div>
    </td>
    <td
      *tuiCell="'status'"
      tuiTd
    >
      <tui-badge
        *tuiLet="getStatusInfo(item.status) as statusInfo"
        [status]="statusInfo.color"
        [value]="statusInfo.label"
      ></tui-badge>
    </td>
  </tr>
  </tbody>
</table>
<tui-table-pagination
  [total]="orders.length"
  [(page)]="page"
  [(size)]="size"
></tui-table-pagination>
