<div class="product">
  <div class="header">
    <div class="header__title">
      <tui-breadcrumbs  size="l">
        <ng-container *ngFor="let item of breadcrumbs">
          <a
            *tuiItem
            tuiLink
            [routerLink]="item.routerLink"
          >
            {{ item.caption }}
          </a>
        </ng-container>
      </tui-breadcrumbs>
    </div>
    <div class="header__actions">
      <button
        size="s"
        tuiButton
        type="button"
        appearance="secondary"
        icon="tuiIconCheck"
        class="tui-space_right-3"
      >
        {{ !productId ? 'Добавить' : 'Сохранить' }}
      </button>
      <button
        *ngIf="productId"
        size="s"
        tuiIconButton
        type="button"
        appearance="secondary"
        icon="tuiIconRefresh"
        class="tui-space_right-3"
        (click)="refreshData()"
      >
      </button>
    </div>
  </div>
  <form [formGroup]="formGroup" *ngIf="([productData, brandsData, categoriesData, productTypesPrevsData] | apiLoadingState : 'Success' : true) else loader">
      <div class="content">
        <h3 class="tui-form__header tui-form__header_margin-top_none">Общее</h3>
        <div class="tui-form__row">
          <tui-input
            formControlName="name"
          >
            Название
          </tui-input>
        </div>
        <div class="tui-form__row tui-form__row_multi-fields">
          <div class="tui-form__multi-field">
            <tui-select
              *tuiLet="brandsData as items"
              [valueContent]="items ? stringifyBrands(items) : loading"
              formControlName="brand"
              [tuiTextfieldLabelOutside]="!items?.length"
            >
              Бренд
              <ng-template tuiDataList>
                <tui-data-list *ngIf="items?.length; else loading">
                  <button
                    [tuiHint]="item.description"
                    tuiHintAppearance="onDark"
                    tuiHintDirection="right"
                    *ngFor="let item of items"
                    tuiOption
                    [value]="item.id"
                  >
                    {{ item.name }}
                  </button>
                </tui-data-list>
              </ng-template>
              <ng-template #loading>
                <tui-loader size="m" class="tui-space_vertical-3 loader"></tui-loader>
              </ng-template>
            </tui-select>
          </div>
          <div class="tui-form__multi-field">
            <tui-input-number
              formControlName="price"
              [postfix]="'RUB' | tuiCurrency"
            >
              Цена
            </tui-input-number>
          </div>
        </div>
        <div class="tui-form__row tui-form__row_multi-fields">
          <div class="tui-form__multi-field">
            <tui-select
              class="b-form"
              [valueContent]="categoryContent"
              formControlName="categoryId"
            >
              Категория
              <ng-template tuiDataList>
                <tui-data-list>
                  <div class="category-tree">
                    <tui-tree
                      *ngFor="let category of categoriesData"
                      [tuiTreeController]="true"
                      [value]="category"
                      [content]="categoryItem"
                      [childrenHandler]="categoryChildHandler"
                    ></tui-tree>
                    <ng-template
                      #categoryItem
                      let-value
                      let-node="node"
                    >
                      <button
                        tuiOption
                        class="category-item"
                        [disabled]="!value.productTypeId"
                        [value]="value.id"
                      >
                        <tui-svg
                          class="category-icon"
                          *ngIf="!value.children?.length"
                          src="tuiIconBookmark">
                        </tui-svg>
                        <span>{{ value.name }}</span>
                      </button>
                    </ng-template>
                  </div>
                </tui-data-list>
              </ng-template>
            </tui-select>
          </div>
          <div class="tui-form__multi-field">
            <tui-select
              *tuiLet="productTypesPrevsData as items"
              [valueContent]="items ? stringifyTypes(items) : loading"
              [readOnly]="true"
              formControlName="productTypeId"
              [tuiTextfieldLabelOutside]="!items?.length"
            >
              Сущность
              <ng-template tuiDataList>
                <tui-data-list *ngIf="items?.length; else loading">
                  <button
                    [tuiHint]="item.description"
                    tuiHintAppearance="onDark"
                    tuiHintDirection="right"
                    *ngFor="let item of items"
                    tuiOption
                    [value]="item.id"
                  >
                    {{ item.name }}
                  </button>
                </tui-data-list>
              </ng-template>
              <ng-template #loading>
                <tui-loader size="m" class="tui-space_vertical-3 loader"></tui-loader>
              </ng-template>
            </tui-select>
          </div>
        </div>
        <div class="tui-form__row">
          <tui-text-area
            formControlName="description"
            [expandable]="true"
          >
            Описание
          </tui-text-area>
        </div>
      </div>
  </form>
  <ng-template #loader>
    <tui-loader class="loader" size="xl">

    </tui-loader>
  </ng-template>
</div>
