@import '~@taiga-ui/core/styles/taiga-ui-local';
.product {
  display: flex;
  flex-flow: column;
  height: 100%;
  .header {
    padding: 0.6rem 1rem;
    background: var(--tui-base-01);
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .content {
    flex: 1 1 auto;
    margin-top: 1rem;
    padding: 1rem;
    background: var(--tui-base-01);
    border-radius: 1rem;
  }
}

.loader {
  margin-top: 4rem;
}

.category {
  &-tree {
    padding: .2rem 1rem;
  }
  &-icon {
    transform: scale(0.8);
    color: var(--tui-primary);
  }
  &-item {
    ::ng-deep {
      .t-checkmark {
        margin-right: 0.5rem;
      }
    }
  }
}
