<tui-loader
  [showLoader]="false"
  [overlay]="true"
  size="xl"
>
  <div>
    <form [formGroup]="formGroup" (ngSubmit)="submit()">
      <tui-input
        tuiTextfieldSize="m"
        class="tui-space_top-3 tui-space_bottom-5"
        formControlName="parent"
        [readOnly]="true"
      >
        Родитель
      </tui-input>
      <tui-input
        tuiTextfieldSize="m"
        class="tui-space_top-3 tui-space_bottom-5"
        formControlName="name"
      >
        Название
      </tui-input>
      <tui-input
        tuiTextfieldSize="m"
        class="tui-space_top-3 tui-space_bottom-5"
        formControlName="handle"
      >
        Ключ
      </tui-input>
      <tui-select
        tuiTextfieldSize="m"
        *tuiLet="typesList | async as items"
        [valueContent]="items ? stringify(items) : loading"
        formControlName="type"
        [tuiTextfieldLabelOutside]="!items?.length"
      >
        Сущность
        <ng-template tuiDataList>
          <tui-data-list *ngIf="items?.length; else loading">
            <button
              *ngFor="let item of items"
              tuiOption
              [value]="item.id"
            >
              {{ item.name }}
            </button>
          </tui-data-list>
        </ng-template>
        <ng-template #loading>
          <tui-loader size="m" class="tui-space_vertical-3 loader"></tui-loader>
        </ng-template>
      </tui-select>
      <tui-text-area
        tuiTextfieldSize="m"
        class="tui-space_top-3 tui-space_bottom-5"
        formControlName="description"
        [expandable]="true"
      >
        Описание
      </tui-text-area>
      <button
        tuiButton
        type="submit"
        size="m"
        [disabled]="formGroup.invalid"
      >
        {{ categoryData?._id ? 'Сохранить' : 'Добавить' }}
      </button>
    </form>
  </div>
</tui-loader>
