<div class="discount">
  <div class="header">
    <div class="header__title">
      <tui-breadcrumbs  size="l">
        <ng-container *ngFor="let item of breadcrumbs">
          <a
            *tuiItem
            tuiLink
            [routerLink]="item.routerLink"
          >
            {{ item.caption }}
          </a>
        </ng-container>
      </tui-breadcrumbs>
    </div>
    <div class="header__actions">
      <button
        size="s"
        tuiIconButton
        type="button"
        appearance="secondary"
        icon="tuiIconPlus"
        class="tui-space_right-3"
        (click)="showAddDialog()"
        [disabled]="true"
      >
      </button>
      <button
        size="s"
        tuiIconButton
        type="button"
        appearance="secondary"
        icon="tuiIconRefresh"
        class="tui-space_right-3"
        (click)="refreshData()"
      >
      </button>
    </div>
  </div>
  <ng-container [ngSwitch]="discountConfig | apiLoadingStateValue">
    <ng-container *ngSwitchCase="apiLoadingState.Success">
      <div
        class="content tui-space_top-4"
        *ngIf="!(discountConfig | apiLoadingState)"
      >
        <a *ngIf="discountConfig"
          size="l"
          tuiIsland
          [hoverable]="true"
          #dropdown="tuiDropdown"
          tuiDropdownContext
          [tuiDropdown]="contextMenu"
          (click)="showEditDialog(discountConfig!); dropdown.toggle(false)"
        >
          <div class="tui-island__content">
            <figure class="tui-island__figure">
              <div class="some-figure">
                <tui-svg src="tuiIconSettingsLarge"></tui-svg>
              </div>
            </figure>
            <div>
              <h3 class="tui-island__title">Товаров: {{ discountConfig.minCount }}</h3>
              <p class="tui-island__paragraph">Скидка: {{ discountConfig.discount}} %</p>
            </div>
          </div>
          <ng-template
            #contextMenu
          >
            <tui-data-list
              role="menu"
              tuiDataListDropdownManager
              class="context-menu"
              (click)="showEditDialog(discountConfig); dropdown.toggle(false)"
            >
              <button
                tuiOption
              >
                Изменить
                <tui-svg
                  class="icon"
                  src="tuiIconDraft"
                ></tui-svg>
              </button>
            </tui-data-list>
          </ng-template>
        </a>
        <a *ngIf="discountConfig"
           size="l"
           tuiIsland
           [hoverable]="true"
           #dropdown="tuiDropdown"
           tuiDropdownContext
           [tuiDropdown]="contextMenu"
           (click)="showFixPriceEditDialog(discountConfig!); dropdown.toggle(false)"
        >
          <div class="tui-island__content">
            <figure class="tui-island__figure">
              <div class="some-figure">
                <tui-svg src="tuiIconSettingsLarge"></tui-svg>
              </div>
            </figure>
            <div>
              <h3 class="tui-island__title">Товаров: {{ discountConfig.fixPriceMinCount }}</h3>
              <p class="tui-island__paragraph">Цена за единицу: {{ discountConfig.fixPrice | tuiFormatNumber: {decimalLimit: 2, decimalSeparator: '.'} }} {{ currency | tuiCurrency }}</p>
            </div>
          </div>
          <ng-template
            #contextMenu
          >
            <tui-data-list
              role="menu"
              tuiDataListDropdownManager
              class="context-menu"
              (click)="showEditDialog(discountConfig); dropdown.toggle(false)"
            >
              <button
                tuiOption
              >
                Изменить
                <tui-svg
                  class="icon"
                  src="tuiIconDraft"
                ></tui-svg>
              </button>
            </tui-data-list>
          </ng-template>
        </a>
      </div>
    </ng-container>
    <div *ngSwitchCase="apiLoadingState.Empty">
      <app-data-empty></app-data-empty>
    </div>
    <ng-container *ngSwitchCase="apiLoadingState.Pending">
      <tui-loader class="loader" size="xl">

      </tui-loader>
    </ng-container>
  </ng-container>
</div>
